# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Libraries/Ca.Core/obj
/Libraries/Ca.Data/obj
/Libraries/Ca.Services/obj
/.vs/CleanArchitecture
/Libraries/Ca.Core/bin/Debug/net5.0
/Libraries/Ca.Data/bin/Debug/net5.0
/Libraries/Ca.Services/bin/Debug/net5.0
/Libraries/Ca.SharedKernel/obj
/Libraries/Ca.SharedKernel/bin/Debug/net5.0
/Tests/Ca.UnitTests/bin/Debug/net5.0
/Tests/Ca.UnitTests/obj
/TestResults
/WebAPI/Ca.WebApi/bin/Debug/net5.0
/WebAPI/Ca.WebApi/obj
/Presentation/Ca.WebApi/obj/Debug/net5.0
/Presentation/Ca.WebApi/obj
/Presentation/Ca.WebApi/bin/Debug/net5.0
/Tests/Ca.IntegrationTests/bin/Debug/net5.0
/Tests/Ca.IntegrationTests/obj
