# This workflow will build a .NET project and publish changes to NuGet
name: .NET Aspire CI

on:
  push:
    branches: [ "main", "aspire" ]
  pull_request:
    branches: [ "main", "aspire" ]
  workflow_dispatch: # Enables manual triggering

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Install .NET Aspire workload
      run: dotnet workload install aspire

    - name: Setup Dev Certs
      run: |
        dotnet dev-certs https --clean
        dotnet dev-certs https --trust

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      env:
        ASPIRE_HOSTING_TESTING_DISABLE_DASHBOARD: true
      run: dotnet test --no-build --configuration Release --logger "console;verbosity=detailed"
